<html>
<head>
  <!-- Stylesheets --> 
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
  <!-- End Stylesheets --> 
</head>
<body>
 <!-- Main Row Container --> 
<div class="row">
  <!-- Header Nav bar--> 
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/Phalcontest/index/home">
      <i class="fa fa-certificate"></i> BRAND
      </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="images/es.png"> Spanish <span class="caret"></span></a>
      <ul class="dropdown-menu">
      <li><a href="#"><img src="images/es.png"> Spanish</a></li>
      <li><a href="#"><img src="images/us.png"> English</a></li>
      </ul>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="images/avatar.png" width="16px" height="16px"> Username<span class="caret"></span></a>
      <ul class="dropdown-menu">
      <li><a href="#">Logout</a></li>
      </ul>
      </li>
      </ul>
      </div>
    </div>
  </nav>
<!--End Header Nav bar--> 

  <!-- Content menu and main content -->
  <div class="row"> 
    <!-- Accordion Menu -->
    <div class="col-sm-12 col-md-2 col-xs-12 col-lg-2 accordion_menu">
    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">  
      <div class="panel-heading main_option_active">
      <h4 class="panel-title">
      <span class="glyphicon glyphicon-folder-close">
      </span>  Content
      </h4>
      </div>
    </a>
    <div id="collapseOne" class="panel-collapse collapse in">
    <ul class="list-group">
    <a href="#">
      <li class="list-group-item option_active"><span class="glyphicon glyphicon-flash"></span>
      News
      </li>
    </a>
    <a href="#">
      <li class="list-group-item"><span class="glyphicon glyphicon-file"></span>
      Newsletters
      </li>
    </a>
    </ul>
    </div>
    </div>
    <div class="panel panel-default">
    <a  data-toggle="collapse" data-parent="#accordion" href="#collapseFour">  
    <div class="panel-heading">
    <h4 class="panel-title">
    <span class="glyphicon glyphicon-file">
    </span> Reports
    </h4>
    </div>
    </a>
    <div id="collapseFour" class="panel-collapse collapse">
    <div class="list-group">
    <a href="#" class="list-group-item">
    Cras justo odio
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- End Accordion Menu --> 
  <!-- Main Content--> 
  <div class="col-sm-12 col-md-10 col-xs-12 col-lg-10 column_content">
    <div class="main_content">
      <table class="table"> <caption>MAIN CONTENT TITLE</caption> <thead> <tr> <th>#</th> <th>First Name</th> <th>Last Name</th> <th>Username</th> </tr> </thead> <tbody> <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr>
      <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr> 
      <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr> 
      <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr> 
      <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr> <tr> <th scope="row">10</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr> 
      </tbody>
      </table>
    </div>
  </div>
  <!-- End Main Content-->   
  </div>
<!-- End Content menu and main content -->
</div>
 <!-- End Main Row Container -->
 <!-- Footet-->  
<footer class="footer">
     <p align="center" style="padding-top:25px;">© Copyright Info</p>   
</footer>
<!-- End footer--> 

<!-- javaScripts --> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>  
  <!-- End JavaScripts --> 
</body>
</html>